//META{"name":"Slate Theme","description":"First Official Release Dark Theme","author":"Ruben7173","version":"1.1"}*//{}

@import url(https://github.com/DmitryPermyakov/Ruben7173.github.io/commit/6e1d701d732da1eff6ceac724e6f5a588ed98215);

/* Custom Guild Icon */
.theme-dark .homeIcon-1FoKUJ {
    background: url('https://pre00.deviantart.net/f2ac/th/pre/i/2017/044/1/7/discord_logo1600_by_seoxys6-dayxre0.png');
    background-color: rgba(0,0,0,0)!important;
	color: rgba(0,0,0,0);
    background-position: center;
    background-size: cover;
}

/** Input any Custom code below **/
